.App {
  min-height: calc(100vh - 16px);
  min-width: calc(100vw - 16px);
  background: #363a3be3;
  padding: 8px;
  display: inline-flex;
  flex-direction: column;
}

.App-header h1 {
  margin: 0;
  color: hsla(290, 49%, 83%, 0.937);
  font-size: 20px;
  padding: 0 14px 10px;
}

.App-list {
  display: flex;
  font-style: italic;
}
